// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.pagination {
    & svg {
        height: 10px;
        width: 10px;
    }
}


.show-entity {

    & .item {
        display: flex;
        flex-direction: row;

        & .name {
            font-weight: bold;
        }

        & .value {
            margin-left: 12px;
        }
    }
}
